@charset "utf-8";
/* CSS Document */
html, body{
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#container
{
	min-width:981px;
	padding-bottom:1px;
	background-color:#f4f4f4;
	display: flex;
	flex-direction: column;
}

#header
{
	height:140px;
	min-width:961px;
	clear:both;
	border-radius:8px 8px 0px 0px;
	border-bottom:0px;
	padding:10px;
}

header img
{
	border-radius:8px 8px 8px 8px;
	float:left;
	height:180px;
	width:240px;
	margin-bottom: 5px;
}

#titulo
{
	float: left;
	color: white;
	display:inline;
	line-height:30px;
	margin:10px;
 }

#logincontainer
{
	border:1px solid white;
	border-radius:4px;
	float:right;
	padding:10px 10px 9px 10px;
	text-align:right;
}

#line-header
{
	clear:both;
	margin:0px 0px 10px 0px;
}

#busqueda{
		height:20px;
		padding:16px;
	}

#trace
{
	margin-top:0px;
	float:left;
	padding-left:10px;
	border-radius:3px;
	height: 5px;
}

#linkcontainer
{
	margin:0px;
	border-radius:4px;
}

#rightcol
{
	width:160px;
	float:right;
	margin-top:20px;
	padding: 0px;
}

#content
{
	min-width:600px;
	padding: 0px 200px 0px 10px;
}

#trace p
{
	display:inline;
	color:rgb(189,214,225);
}

#trace a
{
	text-decoration:none;
	color:black;
}

#trace a:hover
{
	color:#0000FF;
}

#line-trace
{
	border-color:black;
	margin:0px 0px;
}

#subcontent
{
	margin-top:30px;
	clear:left;
	min-height:284px;
	border-radius:4px;
	background-color:#898F8F;
	padding:10px;
	color:white;
}

.description
{
	margin:0px;
}

.mostread
{
	width:400px;
	margin: 20px 0px;
	border-radius: 4px;
	background-color:#72B4E9;
	padding:5px;
}

.float-margin-fix
{
	clear:both;
}

#line-footer-clear
{
	clear:both;
	margin: 10px 0px 10px 0px;
}

#footer
{
	clear:both;
	text-align:center;
	padding:10px;
	margin:10px;
	color:white;
	border-radius:4px;
}
#footer p{
	margin:2px;
}
p#validador{
	float:right;
}
.errorVisual{
	color:red;
	font-size:12px;
	font-style:italic;
	display:block;
	text-align: left;
	
}

p#subir1
{
	text-align: center;
}
p#subir2
{
	text-align: center;
}
.icon{
	height: 50px;
	width: 50px;
}
